[
    {mysql_pool,[
        {pools,[
            {
                [
                    {name, {local, poolname}},
                    {worker_module, mysql},
                    {size, 10},
                    {max_overflow, 0}
                ],
                [
                    {host, "127.0.0.1"},
                    {port, 3306},
                    {user, "admin"},
                    {password, "admin"},
                    {database, "test"}
                ]
            }
        ]}
    ]}
].
